:root {
  --font-color: #333;
  --primary-color: lightgrey;
  --background-color: whitesmoke;
}

[data-theme="dark"] {
  --font-color: #eee;
  --background-color: black;
  --primary-color: rgb(30, 30, 30);
  --primary-color-transparent: rgb(30, 30, 30, 0.7);

}

.flex {
  display: flex;
}

.bold {
  font-weight: 600;
}

body {
  background: var(--background-color);
  color: var(--font-color);
  transition: background-color 0.5s;
}

.app {
  height: 100vh;
}