.comments-item {
  padding: 15px;

  .content {
    margin: 0px 5px 5px 15px;
    margin-left: 15px;
  }

  .like-button {
    height: fit-content;
    margin: 10px;
  }

  .grey {
    color: rgba(128, 128, 128);

    &.content {
      font-size: 0.9rem;
      margin-right: 0;
    }
  }


}
