.profile {
  width: 100%;

  p {
    margin: 0;
  }

  .header {
    // width: 100%;
    // justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    position: sticky;
    top: 0;
    background-color: var(--background-color);
    z-index: 1;
    // font-size: 2rem;

    .username {
      margin: 0;
      font-size: 1.3rem;
    }

    .create-post {
      margin-left: auto;
      margin-right: 20px;
      font-size: 1.5rem;
      border: 2px solid var(--font-color);
      border-radius: 35%;

    }

    .menu {
      font-size: 2rem;
    }
  }

  .user-info {
    flex-direction: column;
    padding: 20px;
    padding-top: 0;

    .avatar {
      height: 75px;
      border-radius: 50%;
      background-color: white;

    }

    .container {
      justify-content: space-between;
      width: 100%;
      margin-bottom: 10px;

      div {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.1rem;

        p {
          margin: 0;
          font-size: 1rem;
        }
      }
    }
  }

  .edit {
    background-color: var(--primary-color);
    color: var(--font-color);
    border: none;
    font-size: 1rem;
    padding: 5px;
    margin-top: 15px;
    border-radius: 5px;
  }

  .posts-section {

    .container {
      position: sticky;
      top: 62px;
      background-color: var(--background-color);

      .posts-filter {
        justify-content: space-around;
        
        div {
          width: 50%;
          justify-content: center;
          opacity: 70%;
          padding: 10px;
          transition: opacity 0.2s 0.3s;
        }
        
        .selected {
          opacity: 100%;
        }
      }

      .underline {
        height: 1px;
        width: 50%;
        background-color: var(--font-color);
        // margin-left: 0;
        transition: transform 0.5s;
        margin-bottom: 1px;
      }
      
      .right {
        // margin-left: auto;
        transform: translate(100%);
      }
    }

    .posts-grid {
      display: grid;
      grid: 1fr 1fr 1fr / 1fr 1fr 1fr;
      gap: 1px;

      img {
        background-color: lightgrey;
      }
    }
  }
}