.timeline-nav {
  padding: 10px;
  display: flex;
  border-bottom: 1px solid var(--primary-color);
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  .logo {
    height: 40px;
  }
}